@model IEnumerable<Warsztat_programowanie_obiektowe.Models.MendingModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MendingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MendingTime)
        </th>
        <th>
            ID pracownika
        </th>
        <th>
            Lista
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MendingDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MendingTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ID_worker)
    </td>
    <td>
        @Html.ActionLink("Pokaz liste", "List", new { id= item.ID_mending})
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID_mending }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID_mending }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID_mending })
    </td>
</tr>
}

</table>
